{% extends 'base.html' %}


{% block content %}
<div class="text-box">
    <h1>WELCOME TO COLLEGE</h1>
    <P>We focus on inventing future with the foundation of technology.<br> Our client relations are spread across the globe.<br> We have full range of technical solutions to support our clients.<br> Our networks are uninterruptible and always open to hear your queries.<br> We will transform your ideas into the practical solutions.<br> We simply love to make trustful relations.<br> We offer value added products and services, which meets all industrial standards.<br> Let’s grow together.
    </P>
</div>
</section>
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }

    
</script>

<section class="platforms">
    <h1>PLATFORMS WE DEAL WITH</h1>

    <div class="row">
        <div class="platform-col">
            <h3>B.com</h3>
            <p>
                Our AR apps are a powerful tool to change the way you deal with various things in your day to day life. Looking to change the way you do certain shopping? Eager to see whether that furniture, that caught your eye at the shop, could fit in your living room? Or, Want to make your kids learning experience fun and interactive? We have just the apps for you!
            </p>
        </div>
    <div class="platform-col">
        <h3>BBA
        </h3>
        <p>
            We are pioneers in the area of mobile application development. We provide android, ios and Hybrid application for companies to deliver better services to their customers. Our products are highly customizable and easily maintainable. We follow agile methodology, gives customer an important role from product design to delivery stage.
           </p>

        
    </div>
    <div class="platform-col">
        <h3>BCA</h3>
        <p>
            The unity 3D is the most trending game engine that allows creation of games with stunning graphics and less efforts. The unity platform can deliver high quality and cost effective products. We will assist you to turn your concepts and imagination into reality.</p>

        
    </div>
</div>
</section>
<section class="platforms">

    <div class="row">
        <div class="platform-col">
            <h3>MCA</h3>
            <p>
                A web based platform to experience the real automated trading without any complexities. The forex robots will perform the market analysis to recognize the profit patterns which offer a profit trading. This eliminate emotional influence in decion making and makes the buy or sell in your absence.</p>
        </div>
    <div class="platform-col">
        <h3>
            M.com
        </h3>
        <p>
            
Machine learning produce more optimized results and let the system to work in an autonomous way. This can reduce human intervention, make the system capable to learn and improve by automatically
 </p>

        
    </div>
    <div class="platform-col">
        <h3>MBA</h3>
        <p>
            We provide world's best security against the cyber-attacks. We will take care your privacy and confidentiality of information. There needs to be constant monitoring to prevent the attacks of hackers. A disruption of networks and data theft will wipe entire reputation of your organization. Our experienced professionals will provide a 24h support against any invasion on your business and firm.
                
        </p>

        
    </div>
</div>
</section>
   

</div>
</div>

    
{% endblock %}